<h1>Stock App</h1>
<%= form_tag root_path, :method => 'POST' do %>
  <%= text_field_tag 'ticker', nil, placholder: "Enter Ticket Symbol", size: 50 %>
  <%= submit_tag 'Lookup'%>
<% end %>
<% if @stock %>
  <% if @stock.is_a? String %>
    <%= @stock%>
  <% else %>
    <div><%= @stock['name']%></div>
    <div>$<%= @stock['price']%></div>
  <% end %>
<% end %>